@page
@using WebApp.Domain.Entities
@model WebApp.Pages.PcPageModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Arial', sans-serif;
        }

        .container {
            margin-top: 50px;
        }

        .card {
            margin-bottom: 20px;
        }

        h1 {
            color: #007bff;
        }

        .section-title {
            color: #6c757d;
            margin-top: 20px;
        }

        .status-card {
            padding: 20px;
            border-radius: 8px;
            color: white;
        }

            .status-card.success {
                background-color: #28a745; /* Verde */
            }

            .status-card.failure {
                background-color: #dc3545; /* Vermelho */
            }
    </style>
</head>
<body>

    @if (Model.HasMessage==true)
    {
        <div class="alert alert-warning mt-3">
            <p>@Model.Message </p>
        </div>
        Model.HasMessage = false;
    }

    <div class="container">
        <div class="card shadow-sm mb-4">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group text-center">
                        <label for="codeInput">Registrar doação:</label>
                        <input type="text" class="form-control text-center" id="codeInput" name="Cod" placeholder="Insira o código do doador" required />
                        <input type="text" class="d-none" id="emailInput" name="Email" value="@Model.Email"/>
                        <input type="text" class="d-none" id="CodPc" name="Cod_Pc" value="@Model.Cod_Pc" />
                        <p class="form-control-plaintext d-none" id="CodLote">@Model.Cod_Lot</p>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Submeter</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card shadow-sm mb-4">
            <div class="card-body text-center">
                <form method="post">
                    <label for="codeInput">Lotes disponíveis:</label><p></p>
                    <h4>@Model.Cod_Lot</h4>
                    <input type="text" class="d-none" id="emailInput" name="Email" value="@Model.Email" />
                    <input type="text" class="d-none" id="CodPc" name="Cod_Pc" value="@Model.Cod_Pc" />

                    @if (string.IsNullOrEmpty(Model.Cod_Lot) && string.IsNullOrWhiteSpace(Model.Cod_Lot))
                    {
                        <input type="text" class="d-none" id="CodLot" name="Cod_Lot" value="@Model.Cod_Lot" />
                        <p class="form-control-plaintext" id="CodLote">@Model.Cod_Lot</p>
                        <button type="submit" asp-page-handler="CreateLot" class="btn btn-primary mt-3">Criar lote</button>
                    }
                    
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card shadow-sm mb-4">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group text-center">
                        <label for="codeInput">Adicionar doação ao lote:</label>
                        <input type="text" class="form-control text-center" id="codDonationInput" name="Cod" placeholder="Insira o código da doação: " required />
                        <input type="text" class="d-none" id="CodPc" name="Cod_Pc" value="@Model.Cod_Pc" />
                        <input type="text" class="d-none" id="emailInput" name="Email" value="@Model.Email" />
                        <input type="text" class="d-none" id="CodLot" name="Cod_Lot" value="@Model.Cod_Lot" />
                    </div>
                    <button type="submit" asp-page-handler="UpdateDonation" class="btn btn-primary mt-3">Submeter</button>                    

                </form>
            </div>
        </div>
    </div
    >


    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Código do Usuário</th>
                <th>Código do PC</th>
                <th>Código do Lote</th>
                <th>Data</th>
                <th>Descrição</th>
                <th>Finalizado</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
    <!-- Card para exibir status -->
    @if (!ModelState.IsValid)
    {
        <div class="alert alert-danger mt-3">
            <p>Erro: Falha ao buscar lotes anteriores.</p>
        </div>
    }

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
